*,
*::before, 
*::after {
    margin: 0;
}
body {
    background-color: indigo;
}
p {
    font-family: 'Zen Dots', cursive;
    color: black;
}
H1 {
    text-align: center;
    font-family: 'Kenia', cursive;
}
footer{
    text-align: center;
    color: #fff;
}
footer a{
    text-decoration: none;
}
h5 {
    color: black;
    font-family: 'Kenia', cursive;
}